.search-container {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  input[type="search"] {
    margin: 0 auto;
    min-width: 300px;
    border: 3px solid #3f3d56;
    padding: 8px;
    height: 45px;
    outline: none;
    color: #9dbfaf;
    font-size: 1rem;
    border-top-left-radius: 10px;
  }
  
  input[type="search"]:focus {
    color: #004c3f;
  }
  
  .search-button {
    width: 40px;
    height: 45px;
    border: 3px solid #3f3d56;
    background: #3f3d56;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border-bottom-right-radius: 10px;
  }
  
  @media screen and (min-width: 600px) {
    input[type="search"] {
      min-width: 400px;
    }
  }
  
  @media screen and (min-width: 750px) {
    input[type="search"] {
      min-width: 600px;
    }
  }
  
    
  
  